@mixin vertical-center{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body{
  background: blue;

  div.quote{
    @include vertical-center;
    background: white;
    // height: 250px;
    margin: auto;
    width: 60%;

    #quote{
      padding: 1rem 2rem;
      text-align: center;
    }

    #author{
      padding: 0 2rem 1rem 0;
      text-align: right;
    }
  }
}
